<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://bootswatch.com/5/cosmo/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>BeduTravels - 
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BeduTravels</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Inicio
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/zonas/">Zonas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto/">Contacto</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/perfil/">{{ user.username }}
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout/">Salir</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Entrar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav><!-- termina menu -->

    {% block contenido %}{% endblock %}
    <hr />
    <footer>
        Todos los derechos reservados por @Bedutravels
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
